<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="contact">
      <h2 data-cy="contactDetailsHeading"><span>Contact</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ contact.id }}</span>
        </dd>
        <dt><span>Contact Id</span></dt>
        <dd>
          <span>{{ contact.contactId }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ contact.name }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ contact.email }}</span>
        </dd>
        <dt><span>Phone Number</span></dt>
        <dd>
          <span>{{ contact.phoneNumber }}</span>
        </dd>
        <dt><span>Contact Projects</span></dt>
        <dd>
          <span *ngFor="let contactProjects of contact.contactProjects; let last = last">
            <a [routerLink]="['/project', contactProjects?.id, 'view']">{{ contactProjects.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/contact', contact.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
